body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #e44d26;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.login-options {
    margin-top: 10px;
}

.login-options a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #e44d26;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #e44d26;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #c53719;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #e44d26;
    color: #fff;
}
img {
    max-width: 700px;
    height: 500px;
}